<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Restaurant app untuk memenuhi tugas Dicoding"
    />
    <meta name="keywords" content="restaurant, dicoding" />
    <meta name="author" content="Rifky Alfarez" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet"
    />
    <title>Restaurant Apps | Rifky Alfarez</title>
  </head>
  <body>
    <!-- Skip to Content Link -->
    <a href="#mainContent" class="skip-to-content" tabindex="0"
      >Skip to Content</a
    >

    <!-- Header -->
    <app-bar></app-bar>

    <!-- Main Content -->
    <main tabindex="0" id="mainContent">
      <!-- Hero Section -->
      <app-hero></app-hero>

      <!-- Restaurant Section -->
      <section class="restaurant-list" id="restaurant-list">
        <!-- <h1
          style="
            margin-top: 20px;
            font-size: 25px;
            font-weight: 700;
            color: #0a0a0a;
            text-align: center;
          "
        >
          Restaurant List
        </h1> -->
        <restaurant-list></restaurant-list>
      </section>
    </main>

    <!-- Footer -->
    <app-footer></app-footer>
  </body>
</html>
