<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet"
    />
    <title>Restaurant Apps | Rifky Alfarez</title>
  </head>
  <body>
    <header>
      <app-bar></app-bar>
    </header>
    <main>
      <app-hero></app-hero>
    </main>
  </body>
</html>
