<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet"
    />
    <title>Restaurant Apps | Rifky Alfarez</title>
  </head>
  <body>
    <app-bar></app-bar>
    <main>
      <section class="hero">
        <img src="/images/heros/hero-image_4.jpg" alt="Hero Img" />
        <div class="hero-content">
          <h1>Temukan Restoran Terbaik di Kota Anda</h1>
          <p>
            Jelajahi pilihan restoran terbaik, mulai dari kafe nyaman hingga
            pengalaman makan mewah. Baca ulasan autentik dan temukan tempat
            makan sempurna untuk setiap momen.
          </p>
          <a href="#" class="skip-content-btn">Mulai Jelajahi</a>
        </div>
      </section>
    </main>
  </body>
</html>
