body {
  font-family: 'Lora', serif;
}

.app-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: transparent;

  transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.app-bar.scrolled {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.8);
  padding: 15px 20px;

  transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.logo {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.desktop-nav {
  display: none;
}

.hamburger div {
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}

.hamburger div:nth-child(1) {
  height: 2px;
  width: 20px;
  background-color: #fff;
  border-radius: 20px;
}

.hamburger div:nth-child(2) {
  height: 2px;
  width: 20px;
  background-color: #fff;
  margin: 4px 0;
  border-radius: 20px;
}

.hamburger div:nth-child(3) {
  height: 2px;
  width: 20px;
  background-color: #fff;
  border-radius: 20px;
}

.hamburger.active div:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.hamburger.active div:nth-child(2) {
  transform: translateX(-10px);
  opacity: 0;
}

.hamburger.active div:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100%;
  height: 100vh;
  background-color: #a88203;
  transition: left 0.3s ease-in-out;
}

.mobile-nav.active {
  left: 0;
}

.mobile-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 20px;
  color: #fff;
}

.hero img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  filter: brightness(0.5);
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 0 20px;
  gap: 10px;
}

.hero-content h1 {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}

.hero-content p {
  font-size: 15px;
  font-weight: 400;
  color: #e2e2e2;
}

.skip-content-btn {
  padding: 10px 40px;
  background-color: #a88203;
  font-size: 15px;
  font-weight: 600;
  border-radius: 20px;
  margin-top: 10px;

  transition: background-color 0.3s ease-in-out;
}

.skip-content-btn:hover {
  background-color: #e8b431;
}

footer div {
  padding: 20px 0;
  background-color: #0a0a0a;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
}

footer div a {
  color: #e8b431;
  font-weight: bold;

  transition: color 0.3s ease-in-out;
}

footer div a:hover {
  color: #a88203;
}

.restaurant-item {
  margin: 20px 0;
}

.restaurant-info {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.restaurant-info h2 {
  font-size: 20px;
  font-weight: 700;
  color: #0a0a0a;
}

.restaurant-info p {
  font-size: 15px;
  font-weight: 400;
  color: #262626;
}

.restaurant-info div {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 15px;
}

.restaurant-list {
  padding: 0 20px;
}

.restaurant-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
