@media (min-width: 768px) {
  .app-bar {
    padding: 30px 50px;
    transition: padding 0.6s ease-in-out;
  }

  .app-bar.scrolled {
    padding: 20px 50px;
    transition: padding 0.6s ease-in-out;
  }

  .logo {
    font-size: 35px;
  }

  .hamburger {
    display: none;
  }

  .desktop-nav {
    display: block;
  }

  .desktop-nav ul {
    display: flex;
    gap: 50px;
  }

  .desktop-nav ul li {
    font-size: 20px;
    font-weight: 600;
    color: #fff;

    transition: color 0.3s ease-in-out;
  }

  .desktop-nav ul li:hover {
    color: #a88203;
  }

  .hero-content {
    align-items: flex-start;
    text-align: left;
    padding: 0 50px;
  }

  .hero-content h1 {
    font-size: 40px;
    width: 500px;
  }

  .hero-content p {
    font-size: 20px;
    width: 600px;
  }

  .skip-content-btn {
    font-size: 20px;
    margin-top: 20px;
  }

  .restaurant-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .restaurant-image {
    height: 300px;
  }

  .restaurant-info {
    margin: 0;
  }

  .restaurant-info h2 {
    font-size: 28px;
    font-weight: 700;
    color: #0a0a0a;
  }

  .restaurant-info p {
    font-size: 18px;
    font-weight: 400;
    color: #262626;
  }

  .restaurant-info div {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 22px;
  }
}

@media (min-width: 1024px) {
  footer div {
    font-size: 20px;
    padding: 30px 0;
  }

  .restaurant-image {
    height: 400px;
  }
}
